
General styles */

body {
  font-family: 'Press Start 2P', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ADD8E6;
  font-family: 'Press Start 2P', VT323, 'Roboto Mono', Orbitron, monospace;
}

h1, h2, p {
  text-align: center;
  margin-bottom: 20px;
  color: #1A1A1A;
  font-family: 'Press Start 2P', VT323, 'Roboto Mono', Orbitron, monospace;
}

.word-display,
.input-area,
.game-status {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', VT323, 'Roboto Mono', Orbitron, monospace;
}

.input-area input,
.input-area button{
  border-radius: 8px; 
  font-family: 'Press Start 2P', VT323, 'Roboto Mono', Orbitron, monospace;
}

.word-display {
  font-size: 25px;
}

.word-display p {
  letter-spacing: -12px; 
}

.input-area input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

.input-area button,
.game-status button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1A4876; 
  color: #FFFFFF;
}
#gameMessage {
  line-height: 30px;
}

.game-status button {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.left-column {
  flex: 0 0 35%; 
}

.right-column {
  flex: 0 0 60%; 
}

#hangmanFigure img {
  max-width: 100%;
  height: auto;
}

.right-column {
  font-size: 18px; 
}

.right-column p {
  font-size: 24px; 
}

.right-column .video-container {
  position: relative;
  width: 100%;
  max-width: 90%; 
  margin: 0 auto;
}

.footer img {
  width: 100px; 
  height: auto;
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
  
}

.footer {
  text-align: center;
}

.footer p {
  margin: 5px 0; 
}

.footer a {
  display: inline-block; 
  margin: 0 10px; 
  text-align: center;
  margin-top: 10px; 
}
